<p>
  <b>Missionario:</b>
  <%=h @telefone.missionario %>
</p>

<p>
  <b>Tipo telefone:</b>
  <%=h @telefone.tipo_telefone %>
</p>


<%= link_to 'Edit', edit_telefone_path(@telefone) %> |
<%= link_to 'Back', telefones_path %>
